*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Pinky Style";
    src: url(../fonts/Pinky\ Style.otf);
}
@font-face {
    font-family: "Nostalgic Retro";
    src: url(../fonts/Nostalgic\ Retro.otf);
}
@font-face {
    font-family: "Lopper";
    src: url(../fonts/loppemarked2DEMO.otf);
}

@font-face {
    font-family: "Stainger";
    src: url(../fonts/Stainger-Regular.otf);
}

.body-index{
    background-image: url(../assets/img/principal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.411)), url("../assets/img/principal.jpg");
}

.nombre-sitio{
    display: grid;
    justify-content: center;
    margin-top: 3.125rem;
    margin-bottom: 3.75rem;
    font-family: "Pinky Style";
    font-size: 1.875rem;
    letter-spacing: .625rem;
    word-spacing: 1.875rem;
}

.nombre-sitio a{
    text-decoration: none;
}

.nombre-sitio .titulo a{
    color: rgba(0, 0, 0, 0.76);
}


.navbar ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    list-style: none;
    justify-items: center;
    font-family: "Lopper";
    font-size: 1.5625rem;
    letter-spacing: .1875rem;
}

.navbar ul a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
}


.nombre-pais{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: 1.25rem;
    padding-top: 6.25rem;
    font-family: "Nostalgic Retro";
    color: rgba(0, 0, 0, 0.76);
    letter-spacing: 5px;
}

.buscador{
    display: flex;
    justify-content: center;
    margin-bottom: 6.25rem;
}

.descripcion-buscador{
    display: flex;
    justify-content: center;
    margin-top: 6.25rem;
    padding-top: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.875rem;
    margin-bottom: 6.25rem;
    color: rgba(0, 0, 0, 0.76);
}

a:link,
a:visited{
    color: rgb(250, 250, 238);
}

.barra-buscadora {
    width: 31.25rem;
    height: 2.5rem;
    border-radius: .5rem;
    margin-right: 1.875rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: rgba(243, 207, 140, 0.514) 2px outset;
    background-color: rgb(252, 240, 223);
}

.boton-buscar{
    width: 6.25rem;
    height: 2.5rem;
    border-radius: .5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    border: rgba(243, 207, 140, 0.514) 2px outset;
    background-color: rgb(252, 240, 223);
}

.body-africa{
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

.continente{
    display: flex;
    justify-content: center;
    margin-top: 6.25rem;
    margin-bottom: 3.125rem;
    color: rgba(36, 26, 8, 0.705);
    font-family: "Nostalgic Retro";
    font-size: .9375rem;
    letter-spacing: .375rem;
}

.btn-asia {
    margin-top: .625rem;
    margin-bottom: 3.125rem;
    color: rgba(36, 26, 8, 0.705);
    font-family: "Nostalgic Retro";
    font-size: .9375rem;
    letter-spacing: .375rem;
}

.div-btn-asia {
    display: flex;
    justify-content: center;
}

.btn-africa {
    margin-top: .625rem;
    margin-bottom: 3.125rem;
    color: rgba(36, 26, 8, 0.705);
    font-family: "Nostalgic Retro";
    font-size: .9375rem;
    letter-spacing: .375rem;
}

.div-btn-africa {
    display: flex;
    justify-content: center;
}

.btn-america {
    margin-top: .625rem;
    margin-bottom: 3.125rem;
    color: rgba(36, 26, 8, 0.705);
    font-family: "Nostalgic Retro";
    font-size: .9375rem;
    letter-spacing: .375rem;
}

.div-btn-america {
    display: flex;
    justify-content: center;
}

.btn-europa {
    margin-top: .625rem;
    margin-bottom: 3.125rem;
    color: rgba(36, 26, 8, 0.705);
    font-family: "Nostalgic Retro";
    font-size: .9375rem;
    letter-spacing: .375rem;
}

.div-btn-europa {
    display: flex;
    justify-content: center;
}

.btn-oceania {
    margin-top: .625rem;
    margin-bottom: 3.125rem;
    color: rgba(36, 26, 8, 0.705);
    font-family: "Nostalgic Retro";
    font-size: .9375rem;
    letter-spacing: .375rem;
}

.div-btn-oceania {
    display: flex;
    justify-content: center;
}

.capitales-africa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10rem;
    margin-bottom: 6.25rem;
    row-gap: 1.875rem;
    color: rgb(7, 7, 6);
    font-family: "Stainger";
    background-color: rgba(94, 72, 72, 0.274);
    padding-top: 5rem;
    padding-bottom: 3.125rem;
}

.capital-pais{
    padding-top: .625rem;
}

.capital{
    text-decoration: underline;
}

.capitales-america{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 12.5rem;
    margin-bottom: 6.25rem;
    row-gap: 1.875rem;
    color: rgb(7, 7, 6);
    font-family: "Stainger";
    background-color: rgba(94, 72, 72, 0.274);
    padding-top: 5rem;
    padding-bottom: 5rem;
    column-gap: 9.375rem;
}

.body-america{
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

.capitales-asia{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 9.375rem;
    margin-bottom: 6.25rem;
    row-gap: 1.875rem;
    color: rgb(7, 7, 6);
    font-family: "Stainger";
    background-color: rgba(94, 72, 72, 0.274);
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    column-gap: 6.25rem;
}

.body-asia{
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

.capitales-europa{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 12rem;
    margin-bottom: 6.25rem;
    row-gap: 1.875rem;
    color: rgb(7, 7, 6);
    font-family: "Stainger";
    background-color: rgba(94, 72, 72, 0.274);
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.body-europa{
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

.capitales-oceania{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 14rem;
    margin-bottom: 6.25rem;
    row-gap: 1.875rem;
    color: rgb(7, 7, 6);
    font-family: "Stainger";
    background-color: rgba(94, 72, 72, 0.274);
    padding-top: 6.25rem;
    column-gap: 6.25rem;
    padding-bottom: 5rem;
}

.body-oceania{
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-continentes {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}



.africa{
    display: flex;
    justify-content: center;
}

.img-africa{
    width: 43.75rem;
    height: auto;
    padding-bottom: 6.25rem;
}

.asia {
    display: flex;
    justify-content: center;
}

.img-asia {
    padding-bottom: 6.25rem;
}

.america {
    display: flex;
    justify-content: center;
}

.img-america {
    padding-bottom: 6.25rem;
}

.europa {
    display: flex;
    justify-content: center;
}

.img-europa {
    padding-bottom: 6.25rem;
}

.oceania {
    display: flex;
    justify-content: center;
}

.img-oceania {
    width: 43.75rem;
    height: auto;
    padding-bottom: 6.25rem;
}

.swal2-popup {
    background-color: whitesmoke !important;
    padding: 3.125rem !important;
    padding-left: 4.375rem !important;
    padding-right: 4.375rem !important;
    transition: opacity 1.5s ease !important;
}

.swal2-title{
    color: rgba(27, 8, 15, 0.801) !important;
    font-size: 1.5625rem !important;
    padding-bottom: 1.5625rem !important;
}

.swal2-confirm {
    background-color: rgb(173, 183, 204) !important;
    color: black !important;
}

.info-continentes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding-bottom: 200px;
    color: rgba(26, 13, 39, 0.863);
}

.lenguas {
    display: grid;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.651);
    padding-bottom: 4.375rem;
}

#chino{
    padding-top: 1.25rem;
}

#afrikaans{
    padding-top: 1.25rem;
}

#español{
    padding-top: 1.25rem;
}

#aleman{
    padding-top: 1.25rem;
}

#ingless{
    padding-top: 1.25rem;
}

.info-covid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding-bottom: 200px;
    color: rgba(26, 13, 39, 0.863);
}

.argentina {
    display: grid;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.651);
    padding-bottom: 4.375rem;
}

.nombre-pais-argentina {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.822);
    padding-bottom: 1.875rem;
}

.capital-argentina {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.822);
}

.poblacion-argentina {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.822);
}

.lenguajes-argentina {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.822);
}

.img-bandera{
    padding-left: 31.875rem;
    padding-top: 3.125rem;
    padding-bottom: 1.875rem;

}
